@import url(https://fonts.googleapis.com/css?family=Lato);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(240, 240, 240);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

form {
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  display: flex;
  border-top: 2px solid rgba(0, 0, 0, .15);
}

form button {
  display: block;
  border: none;
  background: none;
  position: relative;
  width: 50px;
  text-indent: -9999px;
}

form button:after,
form button:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 30px solid #E91E63;
}

form button:before {
  transform-origin: bottom right;
  bottom: 50%;
  border-top: 12px solid transparent;
  border-bottom: 0px solid transparent;
  transform: rotate(5deg);
}

form button:after {
  transform-origin: top right;
  top: 50%;
  border-bottom: 12px solid transparent;
  border-top: 0px solid transparent;
  transform: rotate(-5deg);
}

form input {
  width: 100%;
  border: none;
  background: none;
  padding: 0 1rem;
  font-size: 16px;
  color: rgba(0, 0, 0, .8);
}

ul {
  list-style: none;
}

li {
  margin: 1rem 1rem 1rem 5rem;
  padding: 1rem;
  background: #03A9F4;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 14px;
  border-radius: 5px 5px 5px 0;
}

li:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid #03A9F4;
  border-top: 12px solid transparent;
  border-bottom: 0px solid transparent;
  position: absolute;
  bottom: 0;
  right: 100%;
}

li:after {
  content: 'ಠ_ಠ';
  color: black;
  text-align: center;
  line-height: 2.5rem;
  font-size: 17px;
  background: rgba(0, 0, 0, .2);
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  right: calc(100% + 1rem);
  bottom: 0;
  border: 3px solid #E91E63;
  box-shadow: inset 0 0 0 3px white;
}
